<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GerenciadorEstoque.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GerenciadorEstoque.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GerenciadorEstoque.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value />
            </setting>
            <setting name="db" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="CbxIgnorarErros" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CbDataMov" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbTipoMov" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbTipoOp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbCodItem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbContaGer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbNumeroMov" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbQuant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbValorUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbTipoDoc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbDocumento" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbxDividePelaQuantidade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CbxInverterSinal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItensLoteCbCodigoCigam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="itensCbNome" serializeAs="String">
                <value>0</value>
            </setting>
        </GerenciadorEstoque.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GerenciadorEstoque.Properties.Settings>
            <setting name="senhaDB" serializeAs="String">
                <value>Shamboga2099</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>EstoqueDB</value>
            </setting>
            <setting name="UserDB" serializeAs="String">
                <value>sa</value>
            </setting>
        </GerenciadorEstoque.Properties.Settings>
    </applicationSettings>
</configuration>